@{
    ViewData["Title"] = "Добавить организацию";
}

<h2>Добавить организацию</h2>

@if (ViewBag.Success == true)
{
    <div style="color: green;">Организация добавлена!</div>
}

<form method="post" asp-controller="Admin" asp-action="AddOrganization">
    <div>
        <label>Наименование организации:</label>
        <input type="text" name="name" required />
    </div>
    <div>
        <label>Адрес:</label>
        <input type="text" name="address" required />
    </div>
    <button type="submit">Добавить</button>
</form>
